.calling {

  @include flex-column-center;

  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;



  &__container {
    position: relative;
    height: 100%;
  }

  &__title {
    margin: 45% auto;

    font-size: 64px;
    letter-spacing: 20px;
    padding: 20px 100px;
    font-weight: 700;
    line-height: 140%;
    color: var(--light-color);
    background-color: var(--blue-light-color);

    @include tablet {
      padding: 20px 0;
      text-align: center;
      font-size: 2.8125rem;
    }
    @include small-tablet {
      font-size: 1.875rem;
    }

  }
}
