.nav {
  background-color: var(--gray-color-opacity);
  display: flex;



  &__list {
    position: relative;
    padding: 10px 30px;
    //padding-right: 0;
    @include flex-v-center;
    justify-content: space-between;

    @include tablet {
      margin: 0;
      padding: 20px 0;
      flex-direction: column;
      justify-content: center;
      width: 100%;


    }
}
&__item {
  //margin-right: 30px;

  font-size: 1.375rem;
  text-transform: capitalize;
  color: var(--light-color);

  a {
    color: var(--light-color);
    transition: color 0.3s ease-in-out;

    @include for-hover {
      &:hover {
       color: var(--text-light-color);
     }
     }
     &:active {
      color: var(--primary-color-hover);
    }
    &:focus-visible {
      outline: none;
      color: var(--primary-color-hover);
    }




  }

  &:not(:last-child) {
    margin-right: 110px;

    @include big-desktop {
      margin-right: 65px;
    }
    @include old-desktop {
      margin-right: 30px;
    }
    @include tablet {
      margin: 0;
      padding: 20px 0;
    }
  }
  &:last-child {
    margin-right: 0;

  }
  @include tablet {
    margin: 0;
    padding: 20px 0;
    align-items: center;
  }

}
@include tablet {
  position: fixed;
  left: 0;
  top: 0;
  padding: 50px;
  width: 100%;
  height: 100vh;
  background-color: var(--color-gray-light);
  background-color: var(--dark-color);
}
}
