:root {
  --font-family: "Lato", sans-serif;
  --font-family-gabriola: "Gabriola", sans-serif;
  --content-width: 1560px;
  --content-width-fluid: 100%;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-width-fluid: calc(var(--content-width-fluid) + (var(--container-offset) * 2));
  --light-color: #fff;
  --gray-color: rgba(36, 50, 55, 1);
  --gray-color-opacity: rgba(36, 50, 55, .8);
  --gray-light-color: rgba(56, 60, 56, 0.76);
  --gray-light-color-v: rgba(56, 60, 56, 0.9);
  --primary-color: rgba(250, 60, 60, 1);
  --primary-color-hover: rgba(204, 51, 51, 1);
  --text-light-color: rgb(105, 105, 105);
  --blue-light-color: rgba(136, 191, 205, 0.77);
  --green-color: rgb(60, 179, 113);
  --green-color-hover: rgb(60, 179, 113, .8);
  --black-color: #0f1010;
  --dark-color: rgb(27, 29, 27);
  --order-color: rgb(0, 123, 255);
  --order-color-hover: rgb(7, 96, 192);
  --grid-gap: 20px;
  --main-offset: 40px;
  --second-offset: 20px;
  --small-offset: 10px;
  --big-offset: 60px;
  --regular-lato-md: 400 1.5rem / 150% var(--font-family);
  --regular-lato-mx: 400 2rem / 150% var(--font-family);
  --regular-lato-mn: 400 1.25rem / 150% var(--font-family);
  --regular-gabriola-md: 300 1.875rem / 150% var(--font-family-gabriola);
  --regular-gabriola-mx: 300 2.812rem / 100% var(--font-family-gabriola);
  --regular-gabriola-mn: 300 1.75rem / 150% var(--font-family-gabriola);
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Gabriola";
  src: url("../fonts/../fonts/Gabriola.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h2, h3 {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  background-color: bisque;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
  background-color: transparent;
}

.container-fluid {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 100%;
  background-color: inherit;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.flower {
  width: 60px;
  height: 60px;
  background: url("../img/flower.png") no-repeat;
  background-position: center;
}
@media (max-width: 768px) {
  .flower {
    display: none;
  }
}

.down-wrap {
  position: relative;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.down {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 2000;
  width: 100px;
  height: 80px;
  text-align: center;
  background-image: url(../img/down.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.down svg {
  width: 30px;
  height: 30px;
  fill: var(--dark-color);
}
@media (max-width: 768px) {
  .down svg {
    height: 20px;
    width: 20px;
  }
}
@media (max-width: 768px) {
  .down {
    width: 70px;
    height: 60px;
  }
}

.opacity {
  opacity: 0.2;
}

.opacity-none {
  opacity: 1;
}

.arrow-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.arrow-up svg {
  width: 80px;
  height: 80px;
  fill: var(--gray-color);
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
@media (min-width: 1024px) {
  .arrow-up svg:hover {
    fill: var(--text-light-color);
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.to-top {
  position: fixed;
  bottom: 80px;
  right: 25px;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.to-top__text {
  margin-right: 16px;
  font-size: 14px;
  line-height: 150%;
  text-shadow: 3px 3px 11px rgb(150, 150, 150);
  text-transform: uppercase;
  color: var(--color-light);
}
.to-top__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--gray-color);
  width: 60px;
  height: 60px;
  background-color: var(--gray-color);
  opacity: 0.7;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.to-top__icon svg {
  width: 60px;
  height: 60px;
  fill: var(--light-color);
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 768px) {
  .to-top__icon svg {
    width: 45px;
    height: 45px;
  }
}
@media (min-width: 1024px) {
  .to-top__icon:hover {
    opacity: 0.9;
  }
}
@media (max-width: 768px) {
  .to-top__icon {
    height: 45px;
    width: 45px;
  }
}
.to-top--active {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1024px) {
  .nav-wrap {
    display: none;
  }
}

.nav-wrap--active {
  z-index: 5000;
  display: block;
}

.header {
  position: relative;
  z-index: 3000;
  width: 100%;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: transparent;
}
@media (max-width: 768px) {
  .header {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .header-logo {
    display: none;
  }
}

.burger-wrap {
  display: none;
}
@media (max-width: 1024px) {
  .burger-wrap {
    display: block;
    border-radius: 5px;
    padding: 7px;
    background-color: var(--gray-light-color);
  }
}

.burger-wrap--close {
  border: none;
  padding: 7px;
  background-color: transparent;
}

.burger {
  --burger-width: 30px;
  --burger-height: 30px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;
  --burger-width: 44px;
  --burger-height: 30px;
  --burger-line-height: 3px;
  z-index: 5000;
  display: none;
  color: var(--light-color);
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .burger {
    display: block;
  }
}
.burger__line {
  height: 4px;
  border-radius: 2px;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transition: top 0.3s ease-in-out, bottom 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, bottom 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.nav {
  background-color: var(--gray-color-opacity);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__list {
  position: relative;
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .nav__list {
    margin: 0;
    padding: 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }
}
.nav__item {
  font-size: 1.375rem;
  text-transform: capitalize;
  color: var(--light-color);
}
.nav__item a {
  color: var(--light-color);
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
@media (min-width: 1024px) {
  .nav__item a:hover {
    color: var(--text-light-color);
  }
}
.nav__item a:active {
  color: var(--primary-color-hover);
}
.nav__item a:focus-visible {
  outline: none;
  color: var(--primary-color-hover);
}
.nav__item:not(:last-child) {
  margin-right: 110px;
}
@media (max-width: 1440px) {
  .nav__item:not(:last-child) {
    margin-right: 65px;
  }
}
@media (max-width: 1240px) {
  .nav__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media (max-width: 1024px) {
  .nav__item:not(:last-child) {
    margin: 0;
    padding: 20px 0;
  }
}
.nav__item:last-child {
  margin-right: 0;
}
@media (max-width: 1024px) {
  .nav__item {
    margin: 0;
    padding: 20px 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media (max-width: 1024px) {
  .nav {
    position: fixed;
    left: 0;
    top: 0;
    padding: 50px;
    width: 100%;
    height: 100vh;
    background-color: var(--color-gray-light);
    background-color: var(--dark-color);
  }
}

.hero {
  position: relative;
  width: 100%;
  margin-top: -160px;
  background-color: inherit;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 576px) {
  .hero__nav {
    display: none;
  }
}
.hero__nav--right {
  position: absolute;
  right: 0;
  z-index: 2000;
  top: -200px;
  width: 32px;
  height: 38px;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .hero__nav--right {
    top: -100px;
  }
}
@media (min-width: 1024px) {
  .hero__nav--right:hover {
    opacity: 1;
  }
}
.hero__nav--left {
  position: absolute;
  z-index: 2000;
  top: -200px;
  width: 32px;
  height: 38px;
  opacity: 0.8;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .hero__nav--left {
    top: -100px;
  }
}
@media (min-width: 1024px) {
  .hero__nav--left:hover {
    opacity: 1;
  }
}

.swiper {
  width: 100%;
}

.order-swiper-slide {
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1024px) {
  .order-swiper-slide {
    height: 700px;
  }
}
@media (max-width: 768px) {
  .order-swiper-slide {
    height: 600px;
  }
}
.order-swiper-slide__content {
  margin-top: 180px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 768px) {
  .order-swiper-slide__content {
    margin-top: 60px;
    margin-bottom: 0;
  }
}

.swiper-slide {
  height: 800px;
}
@media (max-width: 768px) {
  .swiper-slide {
    height: 600px;
  }
}
@media (max-width: 768px) {
  .swiper-slide__logo {
    text-align: center;
  }
  .swiper-slide__logo img {
    width: 70%;
  }
}

.swiper-slide__decor {
  margin-bottom: 20px;
}
.swiper-slide__decor img {
  width: 490px;
  height: 100%;
}
@media (max-width: 768px) {
  .swiper-slide__decor img {
    width: 300px;
    height: auto;
  }
}

.tabs {
  position: relative;
}

.tabs__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tabs__item:not(:last-child) {
  margin-right: 10px;
}

.tabs__btn {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 20px;
  background-color: var(--gray-color);
  color: var(--light-color);
  font-size: 18px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tabs__btn:hover {
  opacity: 0.7;
}

.tabs__btn--active {
  background-color: var(--gray-color-opacity);
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  pointer-events: none;
}

.tabs__content {
  display: none;
  background-color: #fff;
}

.tabs__content--active {
  display: block;
}

.content {
  min-height: 330px;
  width: 600px;
}
@media (max-width: 1024px) {
  .content {
    width: auto;
  }
}

.content__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--color-dark);
}

.content__descr {
  margin: 0;
  margin-bottom: 59px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-dark);
}

.content__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content__text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #a2a6c0;
}

.modal-login-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal-login {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: none;
}

.modal-login-overlay--visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal-login--visible {
  display: block;
}

.modal-content {
  position: relative;
}

.modal-body {
  padding: 30px 50px;
}

.list-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-login-wrap:not(:last-child) {
  margin-right: 20px;
}

.form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.form-block label {
  font: var(--regular-lato);
  font-size: 18px;
  color: var(--dark-color);
}
.form-block input {
  height: 40px;
}

.form-block-submit button {
  display: inline-block;
}

.form-block-remember span {
  font-family: var(--regular-lato-md);
  font-size: 18px;
  color: var(--dark-color);
}

.login-title {
  font-family: var(--regular-lato-md);
  color: var(--dark-color);
  font-weight: 700;
}

.site-header-cart--n:hover .mini-card-content {
  display: block;
}

.mini-cart-content {
  z-index: 3000;
  top: 0;
  right: 0;
  background-color: white;
  font-family: var(--regular-lato-md);
}
.mini-cart-content ul {
  margin: 0;
  padding: 0;
}
.mini-cart-content li {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.mini-cart-content__title {
  font: var(--regular-lato-md);
  text-transform: capitalize;
  color: var(--dark-color);
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.price-amount {
  color: var(--dark-color);
  font-family: var(--regular-lato-md);
  font-size: 18px;
}
.price-amount bdi {
  opacity: 0.9;
}

.mini-cart-content .quantity {
  display: inline;
}

.remove_from_cart_button {
  color: var(--dark-color);
  font-size: 24px;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
@media (min-width: 1024px) {
  .remove_from_cart_button:hover {
    color: var(--primary-color);
  }
}

.mini-cart__total strong {
  font-weight: normal;
  font-family: var(--regular-lato-md);
  font-size: 18px;
  padding: 0 10px;
  color: var(--dark-color);
}

.mini-cart__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 10px;
}

.mini-cart__buttons a {
  font-family: var(--regular-lato-md);
  font-size: 18px;
  color: var(--dark-color);
}
@media (min-width: 1024px) {
  .mini-cart__buttons a:hover {
    color: var(--gray-light-color);
  }
}

.modal-cart {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: none;
}

.modal-cart-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal-cart--visible {
  display: block;
}

.modal-cart-overlay--visible {
  z-index: 10000;
}

.modal-cart-overlay--visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.reservation {
  padding-top: 100px;
  background-color: var(--light-color);
}
@media (max-width: 1024px) {
  .reservation {
    padding-top: 40px;
  }
}
@media (max-width: 768px) {
  .reservation {
    padding-top: 30px;
  }
}
.reservation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.reservation__content {
  padding-bottom: 60px;
  width: 70%;
}
@media (max-width: 1440px) {
  .reservation__content {
    padding-bottom: 20px;
    width: 80%;
  }
}
@media (max-width: 768px) {
  .reservation__content {
    padding-bottom: 10px;
    width: 100%;
  }
}

.reservation-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 60px;
}
@media (max-width: 1024px) {
  .reservation-form {
    border-style: none;
    padding-bottom: 20px;
  }
}
.reservation-form__btn {
  grid-column: 4/1 span;
  border-radius: 0 5px 5px 0;
  padding: 0 100px;
  font: var(--regular-lato-md);
}
@media (max-width: 1240px) {
  .reservation-form__btn {
    border-radius: 5px;
    padding: 10px 100px;
  }
}
@media (max-width: 768px) {
  .reservation-form__btn {
    grid-column: 2/2 span;
  }
}

.reservation-form-field {
  margin: 0;
  padding: 0;
  -ms-grid-column-span: 1;
  grid-column: 1 span;
}
.reservation-form-field__select {
  min-height: 36px;
  margin-right: 0;
  border-style: solid;
  border-width: 1px;
  border-color: var(--gray-light-color);
  padding: 25px 45px;
  width: 100%;
  font: var(--regular-lato-md);
  text-align: start;
  color: var(--gray-light-color);
  background-position: 10px 50%;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .reservation-form-field__select {
    padding: 15px 35px;
    font-size: 1.125rem;
  }
}
.reservation-form-field--people {
  background-image: url("../img/people.png");
  border-right: 0;
}
@media (max-width: 1240px) {
  .reservation-form-field--people {
    border-radius: 5px;
    border-right: 1px solid var(--gray-light-color);
  }
}
.reservation-form-field--hour {
  border-right: 0;
  background-image: url("../img/hour.png");
}
@media (max-width: 1240px) {
  .reservation-form-field--hour {
    border-radius: 5px;
    border-right: 1px solid var(--gray-light-color);
  }
}
.reservation-form-field--data {
  border-radius: 5px 0 0 5px;
  border-right: 0;
  background-image: url("../img/data.png");
}
@media (max-width: 1240px) {
  .reservation-form-field--data {
    border-radius: 5px;
    border-right: 1px solid var(--gray-light-color);
  }
}
@media (max-width: 1240px) {
  .reservation-form-field {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
    border: none;
  }
  .reservation-form-field:not(:last-child) {
    padding-bottom: 20px;
  }
}

.reservation-explain {
  padding-top: 60px;
  border-top: 1px solid var(--gray-light-color);
  font: var(--regular-lato-md);
  text-align: center;
  color: var(--text-light-color);
}
@media (max-width: 1024px) {
  .reservation-explain {
    margin-top: 10px;
    padding-top: 20px;
    font-size: 1.25rem;
  }
}
@media (max-width: 768px) {
  .reservation-explain {
    font-size: 1.125rem;
    padding-top: 20px;
  }
}

.reservation-flower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.calling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
}
.calling__container {
  position: relative;
  height: 100%;
}
.calling__title {
  margin: 45% auto;
  font-size: 64px;
  letter-spacing: 20px;
  padding: 20px 100px;
  font-weight: 700;
  line-height: 140%;
  color: var(--light-color);
  background-color: var(--blue-light-color);
}
@media (max-width: 1024px) {
  .calling__title {
    padding: 20px 0;
    text-align: center;
    font-size: 2.8125rem;
  }
}
@media (max-width: 768px) {
  .calling__title {
    font-size: 1.875rem;
  }
}

.info {
  background-color: var(--light-color);
}
.info__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
  grid-template-columns: repeat(8, 1fr);
  gap: 100px;
  grid-auto-flow: dense;
  padding: 90px 0;
}
@media (max-width: 1024px) {
  .info__list {
    gap: 20px;
    padding: 50px 0;
  }
}
@media (max-width: 768px) {
  .info__list {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0;
    padding: 20px 0;
  }
}
.info__item {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.info__item--block-1 {
  grid-column: 5/4 span;
}
@media (max-width: 768px) {
  .info__item--block-1 {
    -ms-grid-column-span: 4;
    grid-column: 4 span;
  }
}
.info__item--block-2 {
  grid-column: 1/4 span;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .info__item--block-2 {
    -ms-grid-column-span: 4;
    grid-column: 4 span;
    width: 100%;
    height: 300px;
    background-position: center;
  }
}
.info__title {
  font: var(--regular-lato-md);
  font-size: 2rem;
  line-height: 150%;
  color: var(--primary-color);
}
@media (max-width: 768px) {
  .info__title {
    font-size: 1.5rem;
  }
}
.info__subtitle {
  font-family: var(--font-family-gabriola);
  font-size: 1.75rem;
  color: var(--text-light-color);
  line-height: 140%;
}
.info__text {
  font: var(--regular-lato-md);
  color: var(--text-light-color);
}
@media (max-width: 1024px) {
  .info__text {
    font-size: 1.25rem;
  }
}
@media (max-width: 768px) {
  .info__text {
    width: 100%;
    font-size: 1.125rem;
  }
}
.info__img {
  width: 100%;
  height: 100%;
}
.info__img--first {
  background: url("../img/first.jpg");
  background-position: right;
  background-repeat: no-repeat;
}
.info__img--second {
  background: url("../img/second.jpg");
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.info__img--third {
  background: url("../img/third.png");
  background-position: left;
  background-repeat: no-repeat;
}
.info__img--fourth {
  background: url("../img/fourth.jpg");
  background-position: right;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .info__img {
    height: 300px;
    background-position: center;
  }
}

.quote {
  width: 100%;
  min-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}
.quote__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
  height: 100%;
}
@media (max-width: 1024px) {
  .quote__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.quote--first {
  background-size: cover;
  background-repeat: no-repeat;
}
.quote--second {
  background-size: cover;
  background-repeat: no-repeat;
}
.quote__content {
  margin: 20% 0;
  padding: 25px 25px;
  width: 70%;
  background-color: var(--gray-light-color);
}
@media (max-width: 1024px) {
  .quote__content {
    margin-top: 8% auto;
    padding: 5px 5px;
    width: 95%;
  }
}
.quote__content--second {
  background-color: var(--blue-light-color);
}
.quote__text {
  font-family: var(--font-family-gabriola);
  font-size: 2.8125rem;
  line-height: 150%;
  color: var(--light-color);
}
@media (max-width: 1024px) {
  .quote__text {
    font-size: 1.875rem;
  }
}
.quote__autor {
  font: var(--regular-lato);
  font-size: 1.875rem;
  text-align: end;
  text-transform: uppercase;
  color: var(--primary-color);
}
@media (max-width: 1024px) {
  .quote__autor {
    font-size: 1.25rem;
  }
}
@media (max-width: 768px) {
  .quote__autor {
    font-size: 1.125rem;
  }
}

.address-block {
  background-color: var(--light-color);
}
.address-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 100px 0;
  padding-bottom: 50px;
}
@media (max-width: 1024px) {
  .address-block__content {
    padding: 40px 0;
  }
}
@media (max-width: 768px) {
  .address-block__content {
    padding: 25px 0;
  }
}
.address-block__title {
  margin: 0;
  font: var(--regular-lato);
  font-size: 28px;
  line-height: 70px;
  color: var(--text-light-color);
}
@media (max-width: 768px) {
  .address-block__title {
    font-size: 24px;
    line-height: 40px;
  }
}
.address-block__address {
  font: var(--regular-lato);
  font-size: 20px;
  color: var(--text-light-color);
}
@media (max-width: 768px) {
  .address-block__address {
    font-size: 18px;
  }
}
.address-block__phone {
  font: var(--regular-lato);
  font-size: 20px;
  line-height: 70px;
  color: var(--text-light-color);
}
@media (max-width: 768px) {
  .address-block__phone {
    font-size: 18px;
    line-height: 40px;
  }
}
.address-block__mail {
  font: var(--regular-lato);
  font-size: 20px;
  line-height: 70px;
  color: var(--text-light-color);
}
@media (max-width: 768px) {
  .address-block__mail {
    font-size: 18px;
    line-height: 15px;
  }
}
.address-block__btn {
  margin-top: 20px;
  border-radius: 5px;
  padding: 15px 30px;
  font: var(--regular-lato);
}

.footer {
  background-color: var(--gray-color);
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 0;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__title {
  margin: 0;
  font-family: var(--regular-lato);
  margin-top: 30px;
  line-height: 150%;
  color: var(--light-color);
}
@media (max-width: 768px) {
  .footer__title {
    font-size: 20px;
  }
}
.footer__subtitle {
  font-family: var(--regular-lato);
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: var(--light-color);
}
@media (max-width: 768px) {
  .footer__subtitle {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
}
.footer__copyright {
  font-family: var(--font-family-gabriola);
  font-size: 30px;
  line-height: 150%;
  color: var(--light-color);
}
@media (max-width: 768px) {
  .footer__copyright {
    font-size: 20px;
  }
}

.fixed-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.social__icon img {
  width: 30px;
}
.social__icon svg {
  width: 30px;
  height: 30px;
  fill: var(--light-color);
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
@media (min-width: 1024px) {
  .social__icon svg:hover {
    fill: var(--green-color);
  }
}
.social__icon:not(:last-child) {
  padding-right: 30px;
}

.btn-nav {
  text-transform: capitalize;
  color: var(--light-color);
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
@media (min-width: 1024px) {
  .btn-nav:hover {
    color: var(--text-light-color);
  }
}
.btn-nav:active {
  color: var(--primary-color-hover);
}
.btn-nav:focus-visible {
  outline: none;
  color: var(--primary-color-hover);
}

.btn {
  border: 1px solid transparent;
  font: var(--regular-lato-md);
  color: var(--light-color);
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.btn--primary {
  border-color: var(--green-color);
  background-color: var(--green-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1024px) {
  .btn--primary:hover {
    border-color: var(--green-color-hover);
    background-color: var(--green-color-hover);
  }
}
.btn--primary:active {
  background-color: var(--green-color-hover);
}
.btn--primary:focus {
  background-color: var(--green-color-hover);
}
.btn--action {
  border-radius: 4px;
  padding: 4px 27px;
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
  background-color: var(--order-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
@media (min-width: 1024px) {
  .btn--action:hover {
    background-color: var(--order-color-hover);
  }
}
.btn--action:active {
  border-color: var(--primary-color-hover);
  background-color: var(--order-color-hover);
}
.btn--action:focus {
  background-color: var(--order-color-hover);
}
@media (max-width: 768px) {
  .btn {
    font-size: 1.125rem;
  }
}
.btn--gray {
  background-color: var(--text-light-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
@media (min-width: 1024px) {
  .btn--gray:hover {
    background-color: var(--green-color);
  }
}
.btn--gray:active {
  background-color: var(--green-color);
}
.btn--gray:focus {
  background-color: var(--green-color);
}
/*# sourceMappingURL=main.css.map */