<section class="address-block">
  <div class="container">
    <div class="address-block__content">
      <h2 class="title address-block__title">Our address</h2>
      <address class="address-block__address">Moscow A.Berzarina str. building 6</address>
      <a href="#" rel="contact" class="address-block__phone">(510) 647-9525</a>
      <a href="#" rel="contact" class="address-block__mail">info@lamarchaberkeley.com</a>
      <a href="#" class="address-block__btn btn btn--gray btn-reset wow animate__pulse"
        data-wow-offset="200" rel="bookmark">reserve</a>
    </div>
  </div>
</section>
