<footer class="footer page-footer">
  <a href="#page" data-scroll class="to-top" rel="bookmark">
    <span class="to-top__icon">
      <svg>
        <use xlink:href="img/sprite.svg#to-top"></use>
      </svg>
    </span>
  </a>
  <div class="container">
    <div class="footer__content">
      <div class="footer__social social" id="down">
        <a class="social__icon" href="#" rel="noopener">
          <svg>
            <use xlink:href="img/sprite.svg#vk"></use>
          </svg>
        </a>
        <a class="social__icon" href="#" rel="noopener">
          <svg>
            <use xlink:href="img/sprite.svg#odno"></use>
          </svg>
        </a>
        <a class="social__icon" href="#" rel="noopener">
          <svg>
            <use xlink:href="img/sprite.svg#twit"></use>
          </svg>
        </a>
      </div>
      <h2 class="footer__title">2018 Burrito Chili-Bar</h2>
      <h3 class="footer__subtitle">Website built at The Building Block</h3>
      <span class="footer__copyright">Terms&PrivacyPolicyReserveNow</span>
    </div>
  </div>
</footer>
<div class="overlay"></div>
