<section class="reservation">
  <div class="container reservation__container">
    <h2 class="visually-hidden">reservation-form</h2>
    <div class="reservation__content">
      <form action="#" method="post" class="reservation-form wow animate__bounce" data-wow-offset="300">
        <label for="data-reservation" class="reservation-form-field">
          <select name="data-reservation" id="data-reservation" class="reservation-form-field__select reservation-form-field--data">
            <option>July 11</option>
            <option>July 12</option>
            <option>July 13</option>
            <option>July 14</option>
          </select>
        </label>
        <label for="hour-reservation" class="reservation-form-field">
          <select name="hour-reservation" id="hour-reservation" class="reservation-form-field__select reservation-form-field--hour">
            <option>20.00</option>
            <option>21.00</option>
            <option>22.00</option>
            <option>23.00</option>
          </select>
        </label>
        <label for="quant-people" class="reservation-form-field">
          <select name="quant-people" id="quant-people" class="reservation-form-field__select reservation-form-field--people">
            <option>2 people</option>
            <option>3 people</option>
            <option>4 people</option>
            <option>5 people</option>
          </select>
        </label>
        <button class="reservation-form__btn btn btn--primary" aria-label="order">order</button>
      </form>
      <p class="reservation-explain">Due to the limited amount of tables in our restaurant, we cannot guarantee a
        private table. Some reservations will be sat at the bar or c ommunal. If you prefer a table, please
        call or make a note and we will do our bes t to accommodate your request.</p>
      <div class="reservation-flower wow animate__pulse" data-wow-offset="200">
        <div class="flower"></div>
      </div>
    </div>
  </div>
</section>
