<section class="hero">
  <h1 class="visually-hidden">ресторан "Burrito"</h1>
  <div class="swiper mainSlider">
    <div class="swiper-wrapper">
      <div class="order-swiper-slide swiper-slide" style="background-image: url(img/slide-6.jpg);">
        <div class="order-swiper-slide__content wow animate__fadeIn" data-wow-duration="2s">
          <div class="swiper-slide__decor">
            <img src="img/logo.svg" alt="logo">
          </div>
          <div class="swiper-slide__logo">
            <img class="header-logo__svg" src="img/logo-txt.svg" alt="logo-txt">
          </div>
        </div>
      </div>
      <div class="order-swiper-slide swiper-slide" style="background-image: url(img/slide-1.jpg);">
        <div class="order-swiper-slide__content">
          <div class="swiper-slide__decor">
            <img src="img/logo.svg" alt="logo">
          </div>
          <div class="swiper-slide__logo">
            <img class="header-logo__svg" src="img/logo-txt.svg" alt="logo-txt">
          </div>
        </div>
      </div>
      <div class="order-swiper-slide swiper-slide" style="background-image: url(img/slide-2.jpg);">
        <div class="order-swiper-slide__content">
          <div class="swiper-slide__decor">
            <img src="img/logo.svg" alt="logo">
          </div>
          <div class="swiper-slide__logo">
            <img class="header-logo__svg" src="img/logo-txt.svg" alt="logo-txt">
          </div>
        </div>
      </div>
      <div class="order-swiper-slide swiper-slide" style="background-image: url(img/slide-3.jpg);">
        <div class="order-swiper-slide__content">
          <div class="swiper-slide__decor">
            <img src="img/logo.svg" alt="logo">
          </div>
          <div class="swiper-slide__logo">
            <img class="header-logo__svg" src="img/logo-txt.svg" alt="logo-txt">
          </div>
        </div>
      </div>
      <div class="order-swiper-slide swiper-slide" style="background-image: url(img/slide-4.jpg);">
        <div class="order-swiper-slide__content">
          <div class="swiper-slide__decor">
            <img src="img/logo.svg" alt="logo">
          </div>
          <div class="swiper-slide__logo">
            <img class="header-logo__svg" src="img/logo-txt.svg" alt="logo-txt">
          </div>
        </div>
      </div>
      <div class="order-swiper-slide swiper-slide" style="background-image: url(img/slide-5.jpg);">
        <div class="order-swiper-slide__content">
          <div class="swiper-slide__decor">
            <img src="img/logo.svg" alt="logo">
          </div>
          <div class="swiper-slide__logo">
            <img class="header-logo__svg" src="img/logo-txt.svg" alt="logo-txt">
          </div>
        </div>
      </div>
      <div class="order-swiper-slide swiper-slide" style="background-image: url(img/slide-1.jpg);">
        <div class="order-swiper-slide__content">
          <div class="swiper-slide__decor">
            <img src="img/logo.svg" alt="logo">
          </div>
          <div class="swiper-slide__logo">
            <img class="header-logo__svg" src="img/logo-txt.svg" alt="logo-txt">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero__container container">
    <ul class="hero__nav list-reset">
      <li class="hero__nav--left"><img src="img/left.svg" alt="arrow-left"></li>
      <li class="hero__nav--right"><img src="img/right.svg" alt="arrow-right"></li>
    </ul>
    <div class="down-wrap">
      <a href="#down" class="down">
        <svg class="animate__animated animate__fadeInUp animate__infinite animate__slower">
          <use xlink:href="img/sprite.svg#arrows-down"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
