<section class="info-second info">
  <div class="container">
    <div class="info__content">
      <div class="info__list">
        <div class="info__item wow animate__fadeInLeft" data-wow-offset="300" data-wow-delay=".1s">
          <div class="info__subtitle">The most profitable deals with us</div>
          <h2 class="info__title">Happy Hours</h2>
          <div class="info__text">
            <p class="">Burrito - this is a chidiv bar in the heart
              of Tijuana, decorated &nbsp;in a kitschy style
              with bright colors and a hot atmosphere.
              It embodies an &nbsp;original &nbsp; culture
              Mexico. &nbsp;Visitorswillfeel as if
              they are in &nbsp;hell and;heaven
              at &nbsp;the ;same &nbsp;time</p>
          </div>
        </div>
        <div class="info__item wow animate__fadeInRight" data-wow-offset="300" data-wow-delay=".1s">
          <div class="info__img info__img--second"></div>
        </div>
      </div>
    </div>
  </div>
</section>
