<section class="quote quote--second" style="background-image: url(../img/quote-second.jpg);">
  <div class="container quote__container">
    <h2 class="visually-hidden">quote of a visitor</h2>
    <div class="quote__content quote__content--second wow animate__fadeInLeft" data-wow-offset="200">
      <q class="quote__text">"Burrito ignites a hot flame in you, it collapses
        on you like lava, with its most powerful music,
        a sea of tequila and devilish food"</q>
      <div class="quote__autor">Penelope Cruz, the visitor</div>
    </div>
  </div>
</section>
