// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Lato", sans-serif;
  --font-family-gabriola: "Gabriola", sans-serif;
  --content-width: 1560px;
  --content-width-fluid: 100%;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-width-fluid: calc(var(--content-width-fluid) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --gray-color: rgba(36, 50, 55, 1);
  --gray-color-opacity: rgba(36, 50, 55, .8);
  --gray-light-color: rgba(56, 60, 56, 0.76);
  --gray-light-color-v: rgba(56, 60, 56, 0.9);
  --primary-color: rgba(250, 60, 60, 1);
  --primary-color-hover: rgba(204, 51, 51, 1);
  --text-light-color: rgb(105, 105, 105);
  --blue-light-color: rgba(136, 191, 205, 0.77);
  --green-color: rgb(60, 179, 113);
  --green-color-hover: rgb(60, 179, 113, .8);
  --black-color: #0f1010;
  --dark-color: rgb(27, 29, 27);
  --order-color: rgb(0, 123, 255);
  --order-color-hover: rgb(7, 96, 192);

  --grid-gap: 20px;
  --main-offset: 40px;
  --second-offset: 20px;
  --small-offset: 10px;
  --big-offset: 60px;

  --regular-lato-md: 400 1.5rem / 150% var(--font-family);//24px
  --regular-lato-mx: 400 2rem / 150% var(--font-family);//32px
  --regular-lato-mn: 400 1.25rem / 150% var(--font-family);//20px

  --regular-gabriola-md: 300 1.875rem / 150% var(--font-family-gabriola);//30px
  --regular-gabriola-mx: 300 2.812rem / 100% var(--font-family-gabriola);//45px
  --regular-gabriola-mn: 300 1.75rem / 150% var(--font-family-gabriola);//28px
}


